Source: vanilla-first-setup
Section: utils
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: 
            build-essential,
            debhelper,
            python3,
            meson,
            libadwaita-1-dev,
            gettext,
            desktop-file-utils,
            make,
            libjpeg-dev
Homepage: https://github.com/mirkobrombin/vanilla-first-setup/
Vcs-Browser: hhttps://github.com/mirkobrombin/vanilla-first-setup
Vcs-Git: https://github.com/mirkobrombin/vanilla-first-setup.git
Rules-Requires-Root: no

Package: vanilla-first-setup
Architecture: any
Depends: python3,
         python3-gi,
         libadwaita-1-0,
         gir1.2-gtk-4.0,
         gir1.2-adw-1,
         gir1.2-vte-3.91
Description: This utility is meant to be used in Ubuntu Vanilla GNOME as a first-setup wizard.