Package: vanilla-first-setup
Version: 0.0.1
Architecture: amd64
Maintainer: Mirko Brombin <send@mirko.pm>
Installed-Size: 65
Depends: dconf-gsettings-backend | gsettings-backend, python3, python3-gi, libadwaita-1, gir1.2-gtk-4.0, gir1.2-adw-1
Section: utils
Priority: optional
Homepage: https://github.com/mirkobrombin/vanilla-first-setup/
Description: This utility is meant to be used in Ubuntu Vanilla GNOME as a first-setup wizard.
