<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>

  <action id="org.vanillaos.FirstSetup.scripts.hostname">
    <description>FirstSetup hostname script</description>
    <message>Set the hostname of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.vanillaos.FirstSetup/vanilla_first_setup/scripts/hostname</annotate>
  </action>

  <action id="org.vanillaos.FirstSetup.scripts.keyboard">
    <description>FirstSetup keyboard script</description>
    <message>Set the keyboard of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.vanillaos.FirstSetup/vanilla_first_setup/scripts/keyboard</annotate>
  </action>

  <action id="org.vanillaos.FirstSetup.scripts.locale">
    <description>FirstSetup locale script</description>
    <message>Set the locale of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.vanillaos.FirstSetup/vanilla_first_setup/scripts/locale</annotate>
  </action>

  <action id="org.vanillaos.FirstSetup.scripts.timezone">
    <description>FirstSetup timezone script</description>
    <message>Set the timezone of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.vanillaos.FirstSetup/vanilla_first_setup/scripts/timezone</annotate>
  </action>

  <action id="org.vanillaos.FirstSetup.scripts.user">
    <description>FirstSetup user script</description>
    <message>Add a user to the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.vanillaos.FirstSetup/vanilla_first_setup/scripts/user</annotate>
  </action>

  <action id="org.vanillaos.FirstSetup.scripts.removeFirstSetupUser">
    <description>FirstSetup remove FirstSetup user script</description>
    <message>Remove FirstSetup user from the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.vanillaos.FirstSetup/vanilla_first_setup/scripts/remove-first-setup-user</annotate>
  </action>

</policyconfig>
